<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1 class="heading" style="text-align:center; font-style: oblique;background-color: bisque; padding: 25px 10px;" >Welcome to my first website</h1>
    <ul class="list-group"  style="text-align:center; text-decoration: none; list-style: none;font-size: 28px;font-weight: bold; margin-top: 55px;">
        <li class="list-group-item "><a href="/home/" >Home</a></li>
        <li class="list-group-item"><a href="/about/">About Us</a></li>
        <li class="list-group-item"><a href="">Services</a></li>
        <li class="list-group-item"><a href="">Contact</a></li>
        <li class="list-group-item"><a href="/emp/emp1">Employee Management</a></li>
      </ul>    
</html>